body {
  color:rgb(9, 92, 170);
  text-align: center;
}

div {
  text-align: left;
}

h3 {
  text-align: left;
}


img {
  margin: auto;
  width: 275px;
  height: auto;
  display: block;
}

.pig-and-duck {
  background-color: rgb(247, 193, 187);
}

.parakeet {
  background-color: salmon;
}

.low-maintenance {
  background-color: rgb(250, 67, 46);
}

.pig-and-duck h3 {
  color: rgb(14, 248, 229);
}

.parakeet h3 {
  color: rgb(5, 128, 117);
}

.low-maintenance h3 {
  color: rgb(2, 53, 49);
}

.pig-and-duck a {
  font-weight: lighter;
}

.parakeet a {
  font-weight: bold;
}

.low-maintenance a {
  font-weight: bolder;
}

@media screen and (max-width: 480px) {
  body {
    background-color: black;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  div {
    width: 300px;
    float: left;
  }
}

@media screen and (min-width: 1000px) {
  div {
    width: 400px;
    float: left;
  }

  img {
    margin: auto;
  width: 375px;
  height: auto;
  display: block;
  }
}

